.back-button {
    margin-top: 20px;
    margin-left: 20px;
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container input {
    padding-right: 20px;
}

.percentage-symbol {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.spinner {
    display: block;
    margin: auto;
    margin-top: 200px;
}