.wallet-text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;   
}

.wallet-image {
    width: 40px;
    height: 40px;
}

.wallet-button {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-text {
    color: var(--ion-text-color);
    margin-left: 10px;
    text-align: left;
    width: 100%;
}

.wallet-chip {
    background: var(--ion-color-primary);
    justify-content: space-between;
}

.wallet-avatar {
    margin-right: 20px;
}
